body {
  margin: 0%;
}

#container {
  background-color: aliceblue;
  position: absolute;
  width: 8%;
  height: 100%;
  z-index: 5;
  overflow: scroll;
  word-break: break-all;
  padding: 2%;
}

#barContainer {
  background-color: antiquewhite;
  position: relative;
  width: 84%;
  height: 10%;
  float: right;
  padding: 2%;
}

#listContainer {
  background-color: ivory;
  position: relative;
  float: right;
  width: 56%;
  height: 80%;
  overflow: scroll;
  word-break: break-all;
  padding: 2%;
}

#memoContainer {
  background-color: ghostwhite;
  position: relative;
  float: right;
  width: 24%;
  height: 80%;
  overflow: scroll;
  word-break: break-all;
  padding: 2%;
}
